@import "tailwindcss";
@font-face {
  font-family: "LemonMilk";
  src: url("./assets/fonts/LEMONMILK-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "LEMONMILK", sans-serif;
}
